// Modal Transition
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.slide-enter-from,
.slide-leave-to {
  transform: translate(-100vw, -50%);
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.5s ease;
}

// // Skills Animation
// @keyframes skillsShadow {
//   from {
//     box-shadow: none;
//   }

//   to {
//     box-shadow: 1rem 1rem 1rem 0 rgba($color-black, 0.3);
//   }
// }
