// $color-dark-one: #1e2733;
$color-dark-two: #243448;

$color-red: #ff5757;
$color-purple: #60207e;
// $color-purple-two: #5747b1;
// $color-blue: #49e9fb;
$color-blue-light: #f1f2f6;

$color-white: #fff;
$color-black: #000;
$color-text: #777;
